<?xml version="1.0" encoding="utf-8"?>

<Translations>
  <en>
    <ALPHA>abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ</ALPHA>
    <DIGITS>1234567890</DIGITS>
    <PUNCTUATION>.:,;!?(){}[]</PUNCTUATION>
    <SYMBOLS>+/-*@#$%</SYMBOLS>
    <SAMPLE_TEXT>Innovation in China 中国智造，慧及全球 0123456789</SAMPLE_TEXT>
    <DIVIDE>---------------------------------------------------------------------------</DIVIDE>
  </en>
</Translations>
